<%- include("header"); -%>



	<div class="box" id="heading">
		
<h1><%=DAY%></h1>
</div>

<div class="box">

<% ents.forEach(function(ent) { %>

<form action= "/delete" method= "post">

	<div class="item">
	<input type="checkbox" name="checkbox"  value="<%=ent._id %>" onchange="this.form.submit()">
	<p> <%= ent.name %> </p>
</div>
<input type="hidden" name= "del" value= "<%= DAY %>"></input>
</form>
<% }); %>



<form  class="item" action="/" method="post">
	<input  type="text"  name="entry" placeholder="New Item" autocomplete="off" required="">
	<button type="submit" name="button" value= "<%=DAY%>">+</button>

</div>



</form>

<%- include("footer.ejs"); -%>